h2 Perosnalized URL shortner

p Enter the URL and press generate

= form_for @mapping do |form|
  = form.label 'URL'
  = form.text_field :url, required: true
  br/
  = form.label 'code of your choice'
  = form.text_field :code
  br/

  = form.submit
